<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        window.print();
    }, false);
</script>
@{
    ViewData["Title"] = "Blog";
    Layout= "_ErrorLayout";
}

<div class="notFound">
    <h1>WUUUUUUPSSIIIIIISWUUUUUUPS</h1>
    <h1>404 <br> PAGE NOT FOUND
    </h1>
    <br>
    <p>No debiste hacer eso</p>
    <H2>Go back to reality</H2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

</div>

    
