<header>
    <nav class="mainNavBar border-bottom">
        <div class="navBarContainer">
            <ul class="navbarElements">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyWork">Mi trabajo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Curriculum">Hoja de
                        vida</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                        asp-action="InspirationPages">Paginas para inspirar</a>
                </li>
                </li>
            </ul>

        </div>
    </nav>
</header>