
<header>
        <nav class="mainNavBar border-bottom">
            <div class="container">
                <ul class="navbarElements">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CurriculumVitae">Mi trabajo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HojaDeVida">Hoja de vida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CurriculumVitae">Blog</a>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CurriculumVitae">Paginas para inspirar</a>
                        </li>
                    </li>
                </ul>
                
            </div>
        </nav>
    </header>