
<header>
    <nav class="mainNavBar">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarlosMora</a>

            <ul class="navbarElements">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HojaDeVida">Hoja de vida</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CurriculumVitae">CV</a>
                </li>
            </ul>
            
        </div>
    </nav>
</header>