<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CarlosMora</title>
        <link rel="stylesheet" href="../../wwwroot/css/site.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    </head>
<body>

    <header>
        <nav class="mainNavBar border-bottom">
            <div class="container">
                <ul class="navbarElements">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CurriculumVitae">Mi trabajo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HojaDeVida">Hoja de vida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CurriculumVitae">Blog</a>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CurriculumVitae">Paginas para inspirar</a>
                        </li>
                    </li>
                </ul>
                
            </div>
        </nav>
    </header>

    <!--Start main area -->
    <div class="text-center">
        <h1>Carlos Mora</h1>
        <h2>Desarrollador web</h2>
        <p>Convenientemente minimalista.</p>
    </div>

    <div class="contact">
        <a href="https://www.linkedin.com/in/carlosmorarocha/">
            <img class="contactLogo" src="../../wwwroot/imgs/LI-In-Bug.png" alt="LinkedIn Logo">
        </a>
        <a href="https://github.com/CharlyMora">
           <img class="contactLogo" src="../../wwwroot/imgs/Octocat.png" alt="Github Logo">
        </a>
        <div id="contactEmail">
            <a href="mailto: morandres.carlos@gmail.com">
                <img class="contactLogo" src="../../wwwroot/imgs/Gmail_2020.png" alt="Gmail Logo">
              </a>
              <a href = "mailto: morandres.carlos@gmail.com" style="margin-left: 2rem">Enviar Email</a>
        </div>
    </div>
    <!-- End main area -->

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CarlosMora 
        </div>
    </footer>
</body>
</html>