@{
    ViewData["Title"] = "Entrie1";
}

<div class="text-center">
    <h1>Como escoger el primer lenguaje de programación</h1>

    
    

    <div class="blogEntrie">
        <h2>Bases</h2>
        <p>
            Primero quiero que algunos puntos queden claros, aunque seas nuevo la mayoría de estos puntos serán obvios para cualquier programador decente y tu también debes tenerlos presentes
        </p>
        <ol>
            <li>
                No existe el lenguaje de programación perfecto
            </li>
            <p>
                Cada lenguaje tiene sus pros y sus contras (como todo en la vida) y precisamente gracias a eso es que
                cada cierto tiempo todos los lenguajes tienen una nueva versión, por que siempre hay algo por mejorar, justamente relacionado con esto…
            </p>
            <li>
                No hay lenguajes buenos ni malos
            </li>
            <p>
                Solo diferentes, y si un lenguaje ha sido creado y adoptado es por una razón, podemos discutir que cierta tecnología o lenguaje deberían ser reemplazados por unos mas eficientes o seguros o modernos, y estar en lo cierto, pero no somos los dueños del negocio para decidir eso, justamente gracias a eso se puede decir que independientemente del lenguaje siempre habrá la posibilidad de hacer algo o conseguir
                trabajo
            </p>
        </ol>
        <h2>
            Filtros
        </h2>
        <p>
            Dicho esto y ahora que sabemos que todos los lenguajes tienen su espacio y merecen su respeto, vamos a establecer algunos filtros de los cuales a veces es fácil olvidarse
        </p>
        <h3>
            Que quieres hacer
        </h3>
        <p>
            Enfocate en lo que te gustaría hacer, que tipo de efectos te gustaría causar, cuando sabes lo que quieres se filtran las tecnologías, a continuacion encontraran una lista con alternativas y lenguajes, esta lista no incluye todas las posibilidades, el por que lo mostrare con un ejemplo que a mi me gusta, los juegos, los lenguajes por excelencia para hacer juegos son C# y C++, pero hay muchos otros lenguajes con los que se pueden hacer juegos para celulares, pc, web, etc. Sin embargo en la lista solo verán a C# y C++ ya que son los mas populares, y con esta popularidad vienen tutoriales, libros, youtubers y cantidad de personas que han tenido problemas y ponen en internet como solucionaron esos problemas, cosa que es maravillosa para comenzar, hay que tener presente que un lenguaje de programación rara vez va solo, por lo general se requieren otras habilidades o lenguajes para lograr productos completos, la mayoría de estos lenguajes su pueden usar en mas de lo que en esta lista se muestra pero eso lo hablaremos más adelante
        </p>

        <ul>
            <li>
                Juegos: C# || C++
            </li>
            <li>
                Desarrollo Web: Javascript
            </li>
            <li>
                Android: Kotlin || Java                
            </li>
            <li>
                iOS(apple): Objective-C || Swift
            </li>
            <li>
                IoT(Internet of things): C || C++
            </li>
            <li>
                RPA (Robotic process automation (Automatizar procesos en un pc)): Python || C#
            </li>
            <li>
                Estadistica: R || Python || VB
            </li>
        </ul>
        <p>
            Como ya saben la lista es extensible y según sus intereses (en la medida que conozcan cada vez mas) también reducible, en cada área se darán cuenta con el tiempo que hay sub áreas bien definidas que requieren nuevos lenguajes o librerías tan complejas que parecen un nuevo sub lenguaje, no es para tenerle miedo, pero si respeto y saber que les va a tomar tiempo.
        </p>
        <p>
            Dicho lo dicho y en resumen, si saben lo que quieren hacer vayan a buscar cual es mejor lenguaje (según el autor) o el que esta siendo mas usado y comiencen por ahí, pero si no saben aun o hay varias áreas que les llaman la atención es posible que hayan notado que algunos lenguajes aparecían mas de una vez…
        </p>
        <h2>
            Lenguajes de múltiples usos
        </h2>
        <p>
            Todos los lenguajes permiten ser usados en múltiples áreas, sencillamente hay unos que gozan de adopción fuerte en múltiples áreas, por ejemplo C# (ya sabrán por cual comencé yo), permite crear paginas web, juegos, aplicaciones para iOS y Android y programas para Windows, y lo mismo se puede hacer con Javascript, aunque para ser claros las construcciones mas populares son las de iOS, Android y Web, si se pueden construir aplicaciones para esos 3 se puede alcanzar el mundo.
        </p>
        <p>
            C# y Javascript son los lenguajes mas recomendados para personas que quieran tener un poco mas de facilidad para saltar de un área a otra, ya saben que comencé con C# lo que no saben aun es que después de un tiempo de aprender desarrollo web y de juegos con este lenguaje me vi en la necesidad de aprender Javascript justamente para complementar mis habilidades en web, con eso en mente selecciono a mi ganador del primer lenguaje que deberías aprender si llegaste a este punto como… redoble de tambores….

        </p>
        <h2>
            C#!!!
        </h2>
        <p>
            Por que es un lenguaje super amplio en sus usos y con mucho respaldo para su aprendizaje
        </p>
        <p>
            Yo en particular lo aprendí usando una plataforma llamada Platzi, no tengo afiliación con ellos, pero no dudo en recomendarla por que justamente acá también aprendí Javascript, me pareció la mejor opción ya que por una anualidad (tienen precio por mes si quieren intentarlo así) se accede a todos los cursos, entonces es mas fácil tantear distintos lenguajes si se quiere sin tener que pagar por un curso en un lenguaje que no se sabe si va a gustar.
        </p>
        <p>
            Y eso es todo, en pocas palabras si no sabes que aprender a programar vete a Platzi a aprender C#
        </p>
        <h4>
        Escrito por CharlyMora
        </h4>
        <h2>
            Bonus
        </h2>
        <h3>
            Según las ofertas en tu área
        </h3>
        <p>
            Es común escuchar sobre el lenguaje de programación mas solicitado o el mas amado o el que tiene el mayor crecimiento, y es normal sentirse inclinado a estar en la tendencia, por múltiples y muy muy validos motivos, pero resulta que estas tendencias rara vez reflejan la realidad local, básicamente la invitación es a revisar en los portales de empleo cuales son los requerimientos mas comunes para desarrolladores en cada área de interés, el área que suele ser mas común y con mayores ofertas es el área del desarrollo web, pero hasta esto puede verse afectado si se vive muy cerca a un área industrial por supuesto según el ritmo de nuevos desarrollos se pueden encontrar mas ofertas en ciertos lenguajes, mas antiguos o mas nuevos y también se pueden ver diferencias increíbles según el lenguaje, aun para desarrolladores junior, igualmente los requerimientos pueden ser una sorpresa ya que en algunos casos se pide el manejo de múltiples lenguajes, normalmente esto significa que hay un lenguaje principal y varios sobre los cuales se requiere un conocimiento básico, pero esto rara vez es especificado en la oferta, adicionalmente recomiendo 4 semanas de búsqueda para hacerse a una idea de la frecuencia de las ofertas y no dejarse guiar por unos días ya que se puede uno topar con días de múltiples ofertas seguidos de meses sin ninguna, finalmente y como anécdota los cambios son normales en las ofertas, de un mes al otro puede que se reduzcan aun cuando estuvieron estables por un par de años, los salarios o los requerimientos también, los cambios normalmente son lentos y también pueden ser para bien, pero no hay garantías de nada y por eso mismo es que siempre se habla del primer lenguaje de programación, por que no puede ser el único, después de un tiempo deberán aprender algún lenguaje nuevo ya que de lo contrario se exponen a quedar  obsoletos.
        </p>
        <h2>
            Doble Bonus
        </h2>
        <h3>
            No va a ser facil
        </h3>
        <p>
            Programar es dificil, y desarrollar lo es aun mas, se puede aprender en muchas plataformas, se pueden crear muchos proyectos, pero trabajar en un proyecto grande real es trabajar con el desarrollo de años de decenas de personas, enfrentarse a lo que parece ser infinidad de archivos y aparentes malas practicas y tecnologias y metodologias jamas escuchadas asi como la falta de algunas supuestamente infaltables, asi que esten preparados para lo que va a ser un verdadero reto
        </p>
        <h4>
            Amor y Paz Amigos
        </h4>
    </div>