@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
        <h1>Blog</h1>
        <partial name = "inconstruction"/>
        <p>

        have a random dog instead
        </p>
        <img src="https://place.dog/300/200" alt="">
    </div>

    
