@model CarlosMora.Models.fox
@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h1>Blog</h1>
    <partial name="inconstruction" />
    <p>
        have a random fox pic instead
    </p>

    
    
    <img src="@Html.DisplayFor(modelItem => Model.image)" alt="">




</div>
