@model CarlosMora.Models.fox
@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h1>Blog</h1>
    <partial name="inconstruction" />
    <p>
        have a random fox pic instead
    </p>

    <img class="haveImg" src="@Html.DisplayFor(modelItem => Model.image)" alt="">

    <p>
        courtesy of <a href="https://randomfox.ca/">https://randomfox.ca/</a>
    </p>
    <p>
        link to this fox pic: @Html.DisplayFor(modelItem => Model.image)
    </p>

</div>
