@{
    ViewData["Title"] = "Home Page";
    Layout= "_LayoutHV";
}

<style>
    <link rel="stylesheet" href="~/css/estilos.css" />
</style>
 <!--Encabezado-->

    <div id="flex-horizontal">
        <div id="encabezado">
            <h2>CUrriculum Vitae</h1>
            <h1>Carlos Andres Mora Rocha</h1>
        </div>
        <div id="foto">
            <img src="https://i.imgur.com/mdZOHYr.jpg" alt="foto formal de carlos mora" width="100" height="128">
        </div>
    </div>
    <!--CADA SECCION CON DIV Y ENFATIZAR TODOS LOS TITULOS CON STRONG--> 
    <!--Perfil profesional-->

    <div>
        <h2><strong>Professsional Profile</strong></h2>
        <p>Ingeniero Químico bilingüe (95%), bases de programacion en C#, Unity, MySQL y elementos relacionados para el trabajo en equipo git y github, experiencia en modificación al diseño, construcción y puesta en marcha de fotobiorreactores; experiencia comercial con agua activada electrolíticamente además de apoyo en áreas de producción; seguimiento a la producción tercerizada y atención postventa de dotaciones empresariales; recursivo en la búsqueda de soluciones sencillas a problemas técnicos de distinto nivel, facilidad en inglés para el aprendizaje de lenguaje técnico específico, con estudio en curso en la  institución de Educación Superior <a href="https://politecnicointernacional.edu.co/sw/es">Politecnico Internacional</a>  y la plataforma de educacion en linea <a href="https://platzi.com/">Platzi</a>
    </div>

    <!--Areas de competencia-->

    <div>
        <h2><strong>Áreas de competencia</strong></h2>
        <ul>
            <li>Publicaciones en googleplay</li>
            <li>Manejo de Visual Studio y Visual Studio Code</li>
            <li>Manejo de Unity</li>
            <li>Manejo de MySQL</li>
            <li>Experiencia en análisis de seguridad ocupacional en planta.</li>
            <li>Conocimiento de los modelos y métodos de prevención de corrosión en industria química y petrolera.</li>
            <li>Conocimiento de operaciones con sólidos en industrias mineras.</li>
            <li>Conocimiento en ingeniería de materiales, en particular metálicos y cerámicos.</li>
            <li>Conocimiento en fenómenos de transporte.</li>
            <li>Conocimiento de los procesos de separación del petróleo y sus distintas variables y relaciones entre las mismas para la mejora de la producción.</li>
            <li>Conocimientos en instrumentación y control, particularmente relacionados con el control de temperatura.</li>
            <li>Conocimientos en los métodos de producción en la industria oleoquimica.</li>
            <li>Estudios y prácticas rigurosos en laboratorio.</li>
            
        </ul>
    </div>

    <!--Experiencia laboral-->

    <div id="experiencia">
        <h2><strong>Experiencia laboral</strong></h2>
        <dl>
            <dt><u>Asesor bilingüe OneLink </u> </dt>
            <dt>Enero 2020 – Fecha actual</dt>
            <dd>Asesor para el manejo de cuentas en TXU energy, manejo de base de datos en sap y comunicación en ingles con personas en Texas</dd>

            <dt><u>Programador independiente en Unity </u></dt>
            <dt>Octubre 2020 - Diciembre 2020</dt>
            <dd>Diseño de juegos basado en desarrollos probados y diseño de derivaciones propias, publicación en google play de desarrollo probado con monetización mediante el uso de ads y mantenimiento del mismo</dd>

            <dt><u>Diseñador y encargado de mantenimiento en Uniformes y Bordados Innovar</u></dt>
            <dt>Febrero 2018 - Octubre 2018</dt>
            <dd>
                
                Supervisor: Míriam Rocha Tel: 321 449 3109 <br>
                Diseño en computador de programas para la realización de bordados, programación de macros en Excel para el desarrollo de tareas sencillas pero muy repetitivas, mantenimiento de maquinara para la producción de bordados y apoyo en operación de la maquinaria cuando era necesario, adicionalmente apoyo en múltiples áreas de la empresa desde asistencia de ventas a manejo de documentación interna
            </dd>

            <dt><u>Comercial EW-Tech</u></dt>
            <dt>Febrero 2017 - Mayo 2017</dt>
            <dd>				                           
                <i> Supervisor: Anatolie Scurtu Tel: 316 839 4929</i> <br>
                Venta de agua activada electrolíticamente para procesos de limpieza y desinfección libres de productos químicos nocivos, peligrosos o tóxicos usados en alimentación y cuidado de población vulnerable, proceso de venta y atención posventa; apoyo en empaque y entrega de pedidos.
            </dd>

            <dt><u>Ventas para dotaciones empresariales</u></dt>
            <dt>Agosto 2016 - Diciembre 2016</dt>
            <dd>                                      

                <i> Supervisor: Claudia Rocha Tel: 313 419 8636 </i> <br>
                
                Venta de uniformes al por mayor para grandes, medianas y pequeñas empresas, asistencia
                al cliente, control de producción en satélites de confección, empaque y entrega de pedidos y atención posventa.
            </dd>
            
            <dt><u>Tesis de grado  </u></dt>
            <dt>Junio 2014 – Abril 2016</dt>
            <dd>                                                                                          
                <i> Supervisores: Maria Pia Cantillo Tel: 301 241 1300; Elizabeth Torres Correo: elizabeth.torres@profesores.uamerica.edu.co; Sandra Molina Tel: 300 736 8173 </i><br>
                Desarrollo realizado en Tecnoparque SENA, Nodo Bogotá con el tema: Modificación de un fotobiorreactor de placa plana para la producción de alga Chlorella vulgaris a menores costos mediante cambios en el sistema de aireamiento. Durante el proceso se realizaron modificaciones a un diseño previo de fotobiorreactor de placa plana, construcción y puesta en funcionamiento.
                </dd>
        </dl>
    </div>

    <div id="flex-horizontal">
        <h2>Ir a otras redes de contacto</h2>
        <select onchange="location = this.value;">
            <option></option>
            <option value="https://www.linkedin.com/">LinkedIn</option>
            <option value="https://www.facebook.com/">Facebook</option>
            <option value="https://www.instagram.com/">Instagram</option>
            <option value="https://twitter.com/">Twitter</option>
        </select>
    </div>
