@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 style="font-size: 4rem;">Carlos Mora</h1>
    <h2>Desarrollador web</h2>
    <p>Convenientemente minimalista.</p>
</div>

<div class="movementCont">
    <div class="contact object">
        <a href="https://www.linkedin.com/in/carlosmorarocha/" target="_blank">
            <img class="contactLogo" src="~/imgs/LI-In-Bug.png" alt="LinkedIn Logo">
        </a>
        <a href="https://github.com/CharlyMora" target="_blank">
            <img class="contactLogo" src="../../imgs/Octocat.png" alt="Github Logo">
        </a>
        <div id="contactEmail">
            <a href="mailto: morandres.carlos@gmail.com" target="_blank">
                <img class="contactLogo" src="../../imgs/Gmail_2020.png" alt="Gmail Logo">
            </a>
            <a href="mailto: morandres.carlos@gmail.com" style="margin-left: 2rem">Enviar Email</a>
        </div>
    </div>

</div>
<div id="dontClick" >
    <a class="nav-link text-dark bottomLink" asp-area="" asp-controller="Home" asp-action="MyNotFound">No des click aca</a>
</div>
