@{
    ViewData["Title"] = "Paginas para inspirar";
}

<div class="text-center">
        <h1>Paginas para inspirar</h1>
        <partial name = "inconstruction"/>
        <p>
        have a random bird pic instead
    </p>
    <img src=@ViewBag.bird alt="">
    </div>

    
