@{
    ViewData["Title"] = "Paginas para inspirar";
}

<div class="text-center">
        <h1>Paginas para inspirar</h1>
        <h2>Desarrollador web</h2>
        <p>Convenientemente minimalista.</p>
    </div>

    