@{
    ViewData["Title"] = "Blog";
    Layout= "_ErrorLayout";
}

<div class="text-center">
        <h1>404</h1>
        <h1>WUUUUUPS</h1>
        <h1>PAGE NOT FOUND
        </h1>
        <H2>Go back to reality</H2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

    </div>

    
