@{
    ViewData["Title"] = "Blog";
    Layout= "_ErrorLayout";
}

<div class="notFound">
        @* <h1>404</h1> *@
        <h1>WUUUUUUPIIIIIIS</h1>
        <h1>404 <br> PAGE NOT FOUND
        </h1>
        <br>
        <H2>Go back to reality</H2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

    </div>

    
