@{
    ViewData["Title"] = "Mi trabajo";
}

<div class="text-center">
    <h1>Mi trabajo</h1>
    <p>Lo mas relevante de lo que he hecho</p>
</div>
<div class="workContainer">
    <div class="workitem">
        <h2>Human resources</h2>
        <p>Pagina web en desarrollo para la admisitracion de personal a nivel mundial de multiples empresas, en el
            aspecto tecnico esta pagina esta hecha con C# y .NET Core, con el modelo MVC, hace uso de una base de datos
            en SQL funcional y esta desplegada en Azure con integracion continua en git</p>
        <a href="https://humanresources.azurewebsites.net/" target="_blank">humanresources.azurewebsites.net/</a>
        <a href="https://github.com/CharlyMora/HHRRSupport" target="_blank"> Repositorio en github</a>
    </div>

    <div class="workitem">
        <h2>Innovar front page</h2>
        <p>Propuesta de fronpage para empresa de uniformes y bordados que incluye un carrusel para bordados y un grid
            para uniformes, construida con C# y .NET Core HTML y CSS</p>
        <a href="https://uniformesybordadosinnovar.azurewebsites.net/"
            target="_blank">humanresources.azurewebsites.net/</a>
        <a href="https://github.com/CharlyMora/Innovar" target="_blank"> Repositorio en github</a>
    </div>

    <div class="workitem">
        <h2>Test de mapas y transiciones</h2>
        <p>Prrueba de desarrollo haciendo uso de transiciones en un mapa con pines para distinas partes y cards apareciendo en dos areas para eprmitir visualizacion del area escogida, despliegue en github pages</p>
        <a href="https://charlymora.github.io/tp/index.html"
            target="_blank">charlymora.github.io/tp/</a>
        <a href="https://github.com/CharlyMora/tp" target="_blank"> Repositorio en github</a>
    </div>

    <div class="workitem">
        <h2>Ovos braker</h2>
        <p>Juego para andorid, inspirado en el juego Flappy Bird y publicado en Google Play store, desarrollado en Unity
            haciendo uso de C#</p>
        <a href="https://play.google.com/store/apps/details?id=com.PowerUp.OVOS" target="_blank">Ovos on Play Store</a>
    </div>
</div>
