.workContainer{
  display: grid;
  grid-template-columns: repeat(2,minmax(100px,1fr));
  padding: 40px;
  grid-gap: 40px;
}

.workitem{
  display: flex;
  flex-direction:column;
}
.workitem p{
  text-align: justify;

}

.workitem a{
  margin-bottom: 10px;

}

#dontClick{
  margin-top: 60px;
}