@{
    ViewData["Title"] = "Entrie1";
    Layout = "_BlogLayout";
}



<h1>Aprender m&uacute;ltiples lenguajes de programaci&oacute;n</h1>

<div class="blogEntrie">
    <p>El que mucho abarca poco aprieta, es un dicho que siempre escuche mucho en mi &eacute;poca del colegio, y es algo que se escucha bastante en el &aacute;rea del aprendizaje de lenguajes de programaci&oacute;n, b&aacute;sicamente en esta &aacute;rea se dice que ning&uacute;n programador sabe programar en muchos lenguajes, y si lo hace es malo en todos, en cierta medida esto es cierto, pero &iquest;hasta que punto?</p>
    <p>Considero este punto delicado para programadores que est&aacute;n comenzando, hay muchos lenguajes de
        programaci&oacute;n, muchos frameworks y en todos lados hay personas defendi&eacute;ndolos y ciertamente en
        muchos lugares se pueden encontrar buenas ofertas de trabajo para ellos, ahora, como respuesta muy simplificada
        a la pregunta, es verdad, para ser buen programador se debe evitar tratar de aprender muchos lenguajes de
        programaci&oacute;n, pero esto solo es cierto cuando se habla de muchos lenguajes, si se mantiene un aprendizaje
        concentrado sobre unos pocos todo va a estar bien, ahora la nueva pregunta, &iquest;Cu&aacute;nto es mucho?, en
        mi opini&oacute;n </p> 
        <h3 class="phrase">
            Mas de 5 ya es mucho !
        </h3> 
        <p> Al menos en el mediano plazo, lo mas razonable es pensar en tener habilidades
        fluidas en 3 lenguajes que se complementen, a modo de ejemplo un programador en C# debe saber C#, html y css,
        para comenzar, con esto se puede crear una pagina web funcional, una vez se tiene fluidez en estos lenguajes se
        puede pensar en comenzar con javascript y sql (o alguna base de datos), si se quiere hacer &eacute;nfasis en el
        frontend se puede cambiar C# por javascript como parte de la tripleta del principio, importante anotar que un
        dise&ntilde;ador de frontend que no entiende nada del backend esta destinado a una vida profesional mediocre,
        igual con el que pretende enfocarse exclusivamente en el backend simplemente no son eficientes conectando con la
        otra parte de una soluci&oacute;n.
    </p>
    <p>&iquest;Pero concretamente que es lo que se debe evitar entonces?, lo siguiente es especialmente cierto para lo
        que comienzan, pero igual para los que ya llevan un tiempo aprendiendo, tratar de dominar muchos lenguajes en
        diferentes &aacute;reas, por ejemplo tratar de ser un experto en backend de Python, frontend con Javascript y
        juegos con C++, sin haber dominado ninguno antes; si fueran solo los dos primeros estar&iacute;a perfecto ya que
        se complementan, pero solo con introducir el tercer elemento la curva de aprendizaje se va para abajo, dominar
        un lenguaje de programaci&oacute;n requiere tiempo, la sintaxis suele ser sencilla de aprender, pero un lenguaje
        no trabaja solo, suele tener m&uacute;ltiples frameworks y librer&iacute;as, entender lo que hacen toma tiempo,
        aprender a utilizarlas igual y aprender a llenar los vac&iacute;os de cada lenguaje y compensar por sus fallas
        igual toma tiempo y experiencia.
    </p>
        <h3 class="phrase">
            No es f&aacute;cil y por eso es algo con buena proyecci&oacute;n profesional.
        </h3>
    <p>En resumen, un lenguaje de programaci&oacute;n no funciona solo y por lo general tiene una serie de
        compa&ntilde;eros que suelen usarse mas en cada industria, para el ejemplo del principio se podr&iacute;a
        reemplazar el lenguaje de backend por Java, PHP o Typescript e igual se resultar&iacute;a siendo un buen
        programador de backend o frontend seg&uacute;n la intensidad con la que se practique cada uno, finalmente es
        importante recordar que dominar un solo lenguaje pone en riesgo al programador ya que la oferta de dicho
        lenguaje se podr&iacute;a ver reducida con el tiempo, esto no va a pasar de un d&iacute;a para otro, normalmente
        toma a&ntilde;os y tambi&eacute;n toma a&ntilde;os dominar un lenguaje en profundidad, despu&eacute;s de dominar
        el primer lenguaje entender las bases de los dem&aacute;s se vuelve mas f&aacute;cil, acumular experiencia igual
        va a tomar un tiempo prudente, pero despu&eacute;s de un tiempo es esencial y hasta natural para el programador
        extender su &aacute;rea de posibilidades y aprender un nuevo lenguaje pero esto solo ser&aacute; despu&eacute;s
        de tener un dominio claro sobre uno y los elementos que le rodean.
    </p>
    <h4>Amor y Paz Amigos</h4>
    <h4>CharlyMora</h4>
</div>
