@{
    ViewData["Title"] = "Entrie1";
    Layout = "_BlogLayout";
}

<div>
    <h1>Como escoger el primer lenguaje de programaci&oacute;n</h1>

    <div class="blogEntrie">
        <h2>Bases</h2>
        <p>Primero quiero que algunos puntos queden claros, aunque seas nuevo la mayor&iacute;a de estos puntos
            ser&aacute;n obvios para cualquier programador decente y tu tambi&eacute;n debes tenerlos presentes</p>
        <ol>
            <li>No existe el lenguaje de programaci&oacute;n perfecto</li>
        </ol>
        <p>Cada lenguaje tiene sus pros y sus contras (como todo en la vida) y precisamente gracias a eso es que cada
            cierto tiempo todos los lenguajes tienen una nueva versi&oacute;n, por que siempre hay algo por mejorar,
            justamente relacionado con esto&hellip;</p>
        <ol start="2">
            <li>No hay lenguajes buenos ni malos</li>
        </ol>
        <p>Solo diferentes, y si un lenguaje ha sido creado y adoptado es por una raz&oacute;n, podemos discutir que
            cierta tecnolog&iacute;a o lenguaje deber&iacute;an ser reemplazados por unos mas eficientes o seguros o
            modernos, y estar en lo cierto, pero no somos los due&ntilde;os del negocio para decidir eso, justamente
            gracias a eso se puede decir que independientemente del lenguaje siempre habr&aacute; la posibilidad de
            hacer algo o conseguir trabajo</p>
        <h2>Filtros</h2>
        <p>Dicho esto y ahora que sabemos que todos los lenguajes tienen su espacio y merecen su respeto, vamos a
            establecer algunos filtros de los cuales a veces es f&aacute;cil olvidarse</p>
        <h3>Que quieres hacer</h3>
        <p>Enf&oacute;cate en lo que te gustar&iacute;a hacer, que tipo de efectos te gustar&iacute;a causar, cuando
            sabes lo que quieres se filtran las tecnolog&iacute;as, a continuaci&oacute;n encontraran una lista con
            alternativas y lenguajes, esta lista no incluye todas las posibilidades, el por que lo mostrare con un
            ejemplo que a mi me gusta, los juegos, los lenguajes por excelencia para hacer juegos son C# y C++, pero hay
            muchos otros lenguajes con los que se pueden hacer juegos para celulares, pc, web, etc. Sin embargo en la
            lista solo ver&aacute;n a C# y C++ ya que son los mas populares, y con esta popularidad vienen tutoriales,
            libros, youtubers y cantidad de personas que han tenido problemas y ponen en internet como solucionaron esos
            problemas, cosa que es maravillosa para comenzar, hay que tener presente que un lenguaje de
            programaci&oacute;n rara vez va solo, por lo general se requieren otras habilidades o lenguajes para lograr
            productos completos, la mayor&iacute;a de estos lenguajes su pueden usar en mas de lo que en esta lista se
            muestra pero eso lo hablaremos m&aacute;s adelante</p>
        <p>Juegos: C# || C++</p>
        <p>Desarrollo Web: Javascript</p>
        <p>Android: Kotlin || Java</p>
        <p>iOS(apple): Objective-C || Swift</p>
        <p>IoT(Internet of things): C || C++</p>
        <p>RPA (Robotic process automation (Automatizar procesos en un pc)): Python || C#</p>
        <p>Estadistica: R || Python || VB</p>
        <p>Como ya saben la lista es extensible y seg&uacute;n sus intereses (en la medida que conozcan cada vez mas)
            tambi&eacute;n reducible, en cada &aacute;rea se dar&aacute;n cuenta con el tiempo que hay sub &aacute;reas
            bien definidas que requieren nuevos lenguajes o librer&iacute;as tan complejas que parecen un nuevo sub
            lenguaje, no es para tenerle miedo, pero si respeto y saber que les va a tomar tiempo.</p>
        <p>Dicho lo dicho y en resumen, si saben lo que quieren hacer vayan a buscar cual es mejor lenguaje
            (seg&uacute;n el autor) o el que esta siendo mas usado y comiencen por ah&iacute;, pero si no saben aun o
            hay varias &aacute;reas que les llaman la atenci&oacute;n es posible que hayan notado que algunos lenguajes
            aparec&iacute;an mas de una vez&hellip;</p>
        <h3>Lenguajes de m&uacute;ltiples usos</h3>
        <p>Todos los lenguajes permiten ser usados en m&uacute;ltiples &aacute;reas, sencillamente hay unos que gozan de
            adopci&oacute;n fuerte en m&uacute;ltiples &aacute;reas, por ejemplo C# (ya sabr&aacute;n por cual
            comenc&eacute; yo), permite crear paginas web, juegos, aplicaciones para iOS y Android y programas para
            Windows, y lo mismo se puede hacer con Javascript, aunque para ser claros las construcciones mas populares
            son las de iOS, Android y Web, si se pueden construir aplicaciones para esos 3 se puede alcanzar el mundo.
        </p>
        <p>C# y Javascript son los lenguajes mas recomendados para personas que quieran tener un poco mas de facilidad
            para saltar de un &aacute;rea a otra, ya saben que comenc&eacute; con C# lo que no saben aun es que
            despu&eacute;s de un tiempo de aprender desarrollo web y de juegos con este lenguaje me vi en la necesidad
            de aprender Javascript justamente para complementar mis habilidades en web, con eso en mente selecciono a mi
            ganador del primer lenguaje que deber&iacute;as aprender si llegaste a este punto como&hellip; redoble de
            tambores&hellip;.</p>
        <p>C#!!!</p>
        <p>Por que es un lenguaje super amplio en sus usos y con mucho respaldo para su aprendizaje</p>
        <p>Yo en particular lo aprend&iacute; usando una plataforma llamada Platzi, no tengo afiliaci&oacute;n con
            ellos, pero no dudo en recomendarla por que justamente ac&aacute; tambi&eacute;n aprend&iacute; Javascript,
            me pareci&oacute; la mejor opci&oacute;n ya que por una anualidad (tienen precio por mes si quieren
            intentarlo as&iacute;) se accede a todos los cursos, entonces es mas f&aacute;cil tantear distintos
            lenguajes si se quiere sin tener que pagar por un curso en un lenguaje que no se sabe si va a gustar.</p>
        <p>Y eso es todo, en pocas palabras si no sabes que aprender a programar vete a Platzi a aprender C#</p>
        <h4>Escrito por CharlyMora</h4>
        <h2>Bonus</h2>
        <h3>Seg&uacute;n las ofertas en tu &aacute;rea</h3>
        <p>Es com&uacute;n escuchar sobre el lenguaje de programaci&oacute;n mas solicitado o el mas amado o el que
            tiene el mayor crecimiento, y es normal sentirse inclinado a estar en la tendencia, por m&uacute;ltiples y
            muy muy validos motivos, pero resulta que estas tendencias rara vez reflejan la realidad local,
            b&aacute;sicamente la invitaci&oacute;n es a revisar en los portales de empleo cuales son los requerimientos
            mas comunes para desarrolladores en cada &aacute;rea de inter&eacute;s, el &aacute;rea que suele ser mas
            com&uacute;n y con mayores ofertas es el &aacute;rea del desarrollo web, pero hasta esto puede verse
            afectado si se vive muy cerca a un &aacute;rea industrial por supuesto seg&uacute;n el ritmo de nuevos
            desarrollos se pueden encontrar mas ofertas en ciertos lenguajes, mas antiguos o mas nuevos y tambi&eacute;n
            se pueden ver diferencias incre&iacute;bles seg&uacute;n el lenguaje, aun para desarrolladores junior,
            igualmente los requerimientos pueden ser una sorpresa ya que en algunos casos se pide el manejo de
            m&uacute;ltiples lenguajes, normalmente esto significa que hay un lenguaje principal y varios sobre los
            cuales se requiere un conocimiento b&aacute;sico, pero esto rara vez es especificado en la oferta,
            adicionalmente recomiendo 4 semanas de b&uacute;squeda para hacerse a una idea de la frecuencia de las
            ofertas y no dejarse guiar por unos d&iacute;as ya que se puede uno topar con d&iacute;as de
            m&uacute;ltiples ofertas seguidos de meses sin ninguna, finalmente y como an&eacute;cdota los cambios son
            normales en las ofertas, de un mes al otro puede que se reduzcan aun cuando estuvieron estables por un par
            de a&ntilde;os, los salarios o los requerimientos tambi&eacute;n, los cambios normalmente son lentos y
            tambi&eacute;n pueden ser para bien, pero no hay garant&iacute;as de nada y por eso mismo es que siempre se
            habla del primer lenguaje de programaci&oacute;n, por que no puede ser el &uacute;nico, despu&eacute;s de un
            tiempo deber&aacute;n aprender alg&uacute;n lenguaje nuevo ya que de lo contrario se exponen a quedar
            obsoletos.</p>

        <h2>
            Doble Bonus
        </h2>
        <h3>
            No va a ser f&aacute;cil
        </h3>
        <p>Programar es dif&iacute;cil, y desarrollar lo es aun mas, se puede aprender en muchas plataformas, se pueden
            crear muchos proyectos, pero trabajar en un proyecto grande real es trabajar con el desarrollo de
            a&ntilde;os de decenas de personas, enfrentarse a lo que parece ser infinidad de archivos y aparentes malas
            practicas y tecnolog&iacute;as y metodolog&iacute;as jam&aacute;s escuchadas as&iacute; como la falta de
            algunas supuestamente infaltables, as&iacute; que est&eacute;n preparados para lo que va a ser un verdadero
            reto</p>
        <h4>
            Amor y Paz Amigos
        </h4>
    </div>