@model CarlosMora.Models.fox
@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h1>Blog</h1>
    <partial name="inconstruction" />
    <p>
        have a random fox pic instead
    </p>

    <img class="haveImg" src="@Html.DisplayFor(modelItem => Model.image)" alt="Fox image or alternative">

    <p>
        courtesy of <a href="https://randomfox.ca/">https://randomfox.ca/</a>
    </p>
    <p>
        link to this fox pic: @Html.DisplayFor(modelItem => Model.LinkText)
    </p>
    <p>
        or check the development so far
    </p>
    <div class="card-container">
        
        <div class="card blog-card" style="max-width: 18rem;">
            <div class="card-header">Como escoger el primer lenguaje de programaci&oacute;n</div>
            <div class="card-body">
                <p class="card-text">Sobre las nociones basicas para tal tarea</p>
                <a asp-area="" asp-controller="Blog" asp-action="Entries" asp-route-id="Entrie0001" class="card-link" target="_blank">
                    Abrir en pestaña nueva</a>
            </div>
        </div>
        <div class="card blog-card" style="max-width: 18rem;">
            <div class="card-header">Aprender m&uacute;ltiples lenguajes de programaci&oacute;n</div>
            <div class="card-body">
                <p class="card-text">Que tener en cuenta al comenzar en el aprendizaje de lenguajes de programaci&oacute;n</p>
                <a asp-area="" asp-controller="Blog" asp-action="Entries" asp-route-id="Entrie0002" class="card-link" target="_blank">
                    Abrir en pestaña nueva</a>
            </div>
        </div>
    </div>
</div>
