@model CarlosMora.Models.fox
@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h1>Blog</h1>
    <partial name="inconstruction" />
    <p>
        have a random fox pic instead
    </p>

    <img class="haveImg" src="@Html.DisplayFor(modelItem => Model.image)" alt="">

    <p>
        courtesy of <a href="https://randomfox.ca/">https://randomfox.ca/</a>
    </p>
    <p>
        link to this fox pic: @Html.DisplayFor(modelItem => Model.image)
    </p>
    <p>
        or check the development so far
    </p>
    <div class="card-container">
        
        <div class="card blog-card" style="max-width: 18rem;">
            <div class="card-header">Como escoger tu primer lenguaje de programación</div>
            <div class="card-body">
                <p class="card-text">Sobre las nociones basicas para tal tarea</p>
                <a asp-area="" asp-controller="Blog" asp-action="Entries" asp-route-id="Entrie1" class="card-link" target="_blank">
                    Abrir en pestaña nueva</a>
            </div>
        </div>
        <div class="card blog-card" style="max-width: 18rem;">
            <div class="card-header">asd</div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                    <a asp-area="" asp-controller="Blog" asp-action="Entries" asp-route-id="sdf" class="card-link" target="_blank">
                    Abrir en pestaña nueva</a>
            </div>
        </div>
    </div>
</div>
